.mobileMenuButton {
    color: #000;
    font-family: "Montserrat Alternates";
    font-size: 10px;
    font-weight: 500;
    background-color: transparent;
}

.mobileMenuIcon {
    margin-left: 5px;
}

.mobileMenuContainer {
    position: absolute;
    z-index: 2;
    top: 50px;
    left: -50px;
    width: 100vw;
    padding: 30px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #E6E6E6;
}

.headerItem {
    color: #000;
    font-family: "Montserrat Alternates";
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.headerItem:not(:last-child) {
    margin-bottom: 25px;
}

.userContainer {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 15px;
}

.button {
    color: #000;
    font-family: "Montserrat Alternates";
    font-size: 10px;
    font-weight: 400;

    padding: 8px 16px;
    border-radius: 10px;
    background: #FFB36C;
}

.iconUser {
    width: 40px;
    height: 40px;
    color: #556080;
}

@media screen and (min-width: 768px) {
    .mobileMenuButton {
        display: none;
    }
}