.cardItem {
    position: relative;
    width: 100%;
    padding: 25px 20px;
    border-radius: 20px;
    background-color: #000;
    background-image: url('../../images/night.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #FFF;
    cursor: pointer;
}

.deleteBtn {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
    background-color: transparent;
}

.locationThumb {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.cityName {
    font-size: 25px;
    font-weight: 600;
    letter-spacing: -0.25px;
}

.time {
    font-size: 15px;
    font-weight: 500;
    line-height: 133%;
    letter-spacing: 0.15px;
}

.temp {
    font-weight: 300;
    font-size: 53px;
    letter-spacing: 0.1em;
    margin-bottom: 39px;
}

.footerThumb {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.description {
    font-weight: 500;
    font-size: 16px;
    line-height: 125%;
    letter-spacing: 0.01em;
}

.tempThumb {
    display: flex;
    gap: 8px;
    font-weight: 500;
    font-size: 15px;
    line-height: 133%;
    letter-spacing: 0.05em;
}

.moreBtn {
    position: relative;
    top: 15px;
    display: block;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    font-weight: 500;
    padding: 0 25px;
    border-radius: 10px;
    background-color: transparent;
    margin: 0 auto;
}