.detailsContainer {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    background:
        url('../../images/night-clouds.png') top/contain no-repeat,
        url('../../images/night-stars.png') top/contain no-repeat,
        linear-gradient(180deg, #0d121a 470px, #2b3142 100%);
    padding-top: 40px;

    pointer-events: auto;
}

.closeButton {
    background-color: transparent;
}

.cityName {
    color: #fff;
    font-size: 37px;
    font-weight: 400;
    line-height: 44px;
    letter-spacing: -0.5%;
    text-align: center;
}

.cityTemp {
    color: #fff;
    font-size: 22px;
    font-weight: 500;
    line-height: 26px;
    text-align: center;
    margin-bottom: 36px;
}

.detailsName {
    display: flex;
    align-items: center;
    gap: 5px;
    max-width: 335px;
    height: 46px;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    line-height: 18px;
    text-transform: uppercase;
    border: 0.5px solid rgba(255, 255, 255, 0.25);
    border-radius: 15px;
    backdrop-filter: blur(4px);
    background: rgba(45, 51, 64, 1);
    opacity: 0.5;
    padding: 14px;
    margin: 0 auto;
    margin-bottom: 10px;
}

.tempNameIcon {
    width: 14px;
    height: 20px;
}


.detailsList {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.detailItem {
    width: 162px;
    height: 162px;
    border: 0.5px solid rgba(255, 255, 255, 0.25);
    padding: 12px 17px;
    border-radius: 15px;
    backdrop-filter: blur(4px);
    background: rgba(45, 51, 64, 0.2);
}

.detailItemTitle {
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    gap: 4px;
    opacity: 0.3;
    margin-bottom: 7px;
}

.detailItemData {
    color: #fff;
    font-size: 35px;
    font-weight: 400;
    line-height: 42px;
    letter-spacing: 0%;
    text-align: center;
}

.weatherIcon {
    width: 70px;
    height: 70px;
    margin: 0 auto;
}

.sunriseSunsetIcon {
    margin-top: 10px;
    margin-bottom: 10px;
}

.detailItemText {
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
}